{{- define "title" -}}
  {{- .Params.Title | default (T "postArchive") }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
  <div class="page archive" data-posts-archive data-pagefind-ignore>
    <header>
      <h1 class="single-title">{{ .Params.Title | default (T "postArchive") }}</h1>
    </header>

    {{ partial "section-navigation.html" . }}
    {{- if .Pages -}}
      {{- $pages := .Pages.GroupByDate "2006" -}}
      {{- with .Site.Params.section.paginate | default .Site.Params.paginate -}}
        {{- $pages = $.Paginate $pages . -}}
      {{- else -}}
        {{- $pages = .Paginate $pages -}}
      {{- end -}}
      <section aria-label="{{ T "byYear" }}">
        {{- range $pages.PageGroups -}}
          <h2 class="group-title">{{ .Key }}</h2>
          {{- range .Pages -}}
            <article class="archive-item">
              <a href="{{ .RelPermalink }}" class="archive-item-link">{{ .Title | emojify }}</a>
              <time class="archive-item-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ $.Site.Params.section.dateFormat | default "01.02" | .Date.Format }}</time>
            </article>
          {{- end -}}
        {{- end -}}
      </section>
      {{- partial "paginator.html" . -}}
    {{- else -}}
      <p>{{ T "emptyPosts" }}</p>
    {{- end -}}
  </div>
{{- end -}}
