{{ define "title" }}{{ if eq .Data.Plural "categories" }}{{ T "categories" }}{{ else }}{{ T "browseTopics" }}{{ end }} - {{ .Site.Title }}{{ end }}
{{ define "content" }}
<div class="page archive" data-taxonomy-overview>
  <h1 class="single-title">{{ if eq .Data.Plural "categories" }}{{ T "categories" }}{{ else }}{{ T "browseTopics" }}{{ end }}</h1>
  {{ partial "section-navigation.html" . }}
  <div class="topic-list">
    {{ range .Data.Terms.ByCount }}
    <article class="archive-item"><a class="archive-item-link" href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a><span class="archive-item-date">{{ .Count }}</span></article>
    {{ end }}
  </div>
</div>
{{ end }}
